pragma Singleton
import QtQuick
import Quickshell

Singleton {
    readonly property color dark0_hard: "#{{ .colors.dark0_hard }}"
    readonly property color dark0: "#{{ .colors.dark0 }}"
    readonly property color dark0_soft: "#{{ .colors.dark0_soft }}"
    readonly property color dark1: "#{{ .colors.dark1 }}"
    readonly property color dark2: "#{{ .colors.dark2 }}"
    readonly property color dark3: "#{{ .colors.dark3 }}"
    readonly property color dark4: "#{{ .colors.dark4 }}"
    readonly property color light0_hard: "#{{ .colors.light0_hard }}"
    readonly property color light0: "#{{ .colors.light0 }}"
    readonly property color light0_soft: "#{{ .colors.light0_soft }}"
    readonly property color light1: "#{{ .colors.light1 }}"
    readonly property color light2: "#{{ .colors.light2 }}"
    readonly property color light3: "#{{ .colors.light3 }}"
    readonly property color light4: "#{{ .colors.light4 }}"
    readonly property color bright_red: "#{{ .colors.bright_red }}"
    readonly property color bright_green: "#{{ .colors.bright_green }}"
    readonly property color bright_yellow: "#{{ .colors.bright_yellow }}"
    readonly property color bright_blue: "#{{ .colors.bright_blue }}"
    readonly property color bright_purple: "#{{ .colors.bright_purple }}"
    readonly property color bright_aqua: "#{{ .colors.bright_aqua }}"
    readonly property color bright_orange: "#{{ .colors.bright_orange }}"
    readonly property color neutral_red: "#{{ .colors.neutral_red }}"
    readonly property color neutral_green: "#{{ .colors.neutral_green }}"
    readonly property color neutral_yellow: "#{{ .colors.neutral_yellow }}"
    readonly property color neutral_blue: "#{{ .colors.neutral_blue }}"
    readonly property color neutral_purple: "#{{ .colors.neutral_purple }}"
    readonly property color neutral_aqua: "#{{ .colors.neutral_aqua }}"
    readonly property color neutral_orange: "#{{ .colors.neutral_orange }}"
    readonly property color faded_red: "#{{ .colors.faded_red }}"
    readonly property color faded_green: "#{{ .colors.faded_green }}"
    readonly property color faded_yellow: "#{{ .colors.faded_yellow }}"
    readonly property color faded_blue: "#{{ .colors.faded_blue }}"
    readonly property color faded_purple: "#{{ .colors.faded_purple }}"
    readonly property color faded_aqua: "#{{ .colors.faded_aqua }}"
    readonly property color faded_orange: "#{{ .colors.faded_orange }}"
    readonly property color dark_red_hard: "#{{ .colors.dark_red_hard }}"
    readonly property color dark_red: "#{{ .colors.dark_red }}"
    readonly property color dark_red_soft: "#{{ .colors.dark_red_soft }}"
    readonly property color light_red_hard: "#{{ .colors.light_red_hard }}"
    readonly property color light_red: "#{{ .colors.light_red }}"
    readonly property color light_red_soft: "#{{ .colors.light_red_soft }}"
    readonly property color dark_green_hard: "#{{ .colors.dark_green_hard }}"
    readonly property color dark_green: "#{{ .colors.dark_green }}"
    readonly property color dark_green_soft: "#{{ .colors.dark_green_soft }}"
    readonly property color light_green_hard: "#{{ .colors.light_green_hard }}"
    readonly property color light_green: "#{{ .colors.light_green }}"
    readonly property color light_green_soft: "#{{ .colors.light_green_soft }}"
    readonly property color dark_aqua_hard: "#{{ .colors.dark_aqua_hard }}"
    readonly property color dark_aqua: "#{{ .colors.dark_aqua }}"
    readonly property color dark_aqua_soft: "#{{ .colors.dark_aqua_soft }}"
    readonly property color light_aqua_hard: "#{{ .colors.light_aqua_hard }}"
    readonly property color light_aqua: "#{{ .colors.light_aqua }}"
    readonly property color light_aqua_soft: "#{{ .colors.light_aqua_soft }}"
    readonly property color gray: "#{{ .colors.gray }}"
}
