ignore-empty-password
daemonize
line-uses-ring
indicator-caps-lock
indicator-radius=70
indicator-thickness=15

color={{ .colors.dark0_hard }}
inside-color={{ .colors.neutral_purple }}
inside-clear-color={{ .colors.neutral_orange }}
inside-caps-lock-color={{ .colors.neutral_yellow }}
inside-ver-color={{ .colors.neutral_aqua }}
inside-wrong-color={{ .colors.neutral_red }}
separator-color={{ .colors.light4 }}

bs-hl-color={{ .colors.light0 }}
caps-lock-bs-hl-color={{ .colors.light0 }}
caps-lock-key-hl-color={{ .colors.light0 }}
key-hl-color={{ .colors.light0 }}

ring-color={{ .colors.neutral_purple }}
ring-clear-color={{ .colors.neutral_orange }}
ring-caps-lock-color={{ .colors.neutral_yellow }}
ring-ver-color={{ .colors.neutral_aqua }}
ring-wrong-color={{ .colors.neutral_red }}

text-color={{ .colors.light0 }}
text-clear-color={{ .colors.light0 }}
text-caps-lock-color={{ .colors.light0 }}
text-ver-color={{ .colors.light0 }}
text-wrong-color={{ .colors.light0 }}
