[General]
autoCloseIdleDaemon=true
contrastOpacity=127
disabledTrayIcon=true
drawColor=#{{ .colors.bright_red }}
drawThickness=5
insecurePixelate=false
saveLastRegion=true
savePath=/home/ksmai/Pictures/screenshots
showAbortNotification=false
showDesktopNotification=false
showHelp=false
showStartupLaunchMessage=false
uiColor=#{{ .colors.neutral_purple }}
useGrimAdapter=true
